
body{
  background-color: black;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  /* margin-right: 200px; */
}
.nav{
  margin-top: 50px;
  
}
ul{
  display: flex;
  /* margin-left: 40PX; */
  list-style:none;

}
li{
  width: auto;
  margin: 10px ;
  padding: 0px;

}
.Home{

color: white;


}
.logo{
  margin-right: 110px;
}
.Education{
  color: white;

}
.Projects{
  color: white;


}
.Skills{
  color: white;


}
.Experiance{
  color: white;
 

}
.contact {
  color: white;
 

}
/* landing page style */
.img{ 
display: flex;
margin-right: 50px;
color: white;
margin-bottom: 50px;
}
.div_text{
  margin-left: 6% ;
  /* padding-bottom: 100px; */
}
/* landing page style end */



p{
  margin-top: 100px;
  margin-right: 150px;
  font-size: 1.5vw;
}
.Education_1{
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: white;
  height: 500px;
  /* margin-bottom: 100px; */
}
.img_1{
  margin-right: 30px;
}
.text_3{
  margin-left: 400px;
  margin-bottom: 200px;
  font-size: 2vw;
}
.text_5{
margin-right: 500px;
 color: rgb(0, 0, 0);
margin-top: -300px;
font-size: 2vw;
 
}
.projects{
  text-align: center;
  color: white;

}
.img_3{
 margin-right: 150px;
}
.img_4{
  margin-right:50px;
}
.text_6{
margin-right: 650px;
font-size: 2vw;
margin-top: -5px;
}
.text_7{
 margin-left: 600px;
 margin-top: -105px;
 font-size: 1.0vw;

}
.Experiance_2{
  text-align: center;
  background-color: white;
  color: black;
  
}
.img_6{
  margin-right: 100px;
}
.text_8{
margin-left: 700px;
}
.text_9{
margin-right: 600px;
margin-top: -70px;
}
.Skills{
text-align: center;
}
.ph_2{
width:50px;
height:100px;
display: flex;
margin-left: 400px;

}
.contactme{
background-color: white;
color:black;
text-align: center;
}
input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
background-color: #000000;
color:  rgb(11, 153, 235);
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #ffffff;
}

div.container {
border-radius: 5px;
background-color: #ffffff;
padding: 20px;
}
.bottom-section {
margin-top: 30px;
}

.words-footer {
display: flex;
justify-content:center;
justify-content:space-evenly;
color: rgb(255, 249, 249);
font-family: 'Crimson Text', serif;
line-height: 1.5em;
text-align: center;
/* margin-top: -80px; */
/* display: flex; */
width:1300px ;
height: 50px;
/* margin-left: 550px; */

}
.btn{
margin-top: -10px;
}
.main-design {
margin: 0 auto;
width: 100%;
padding-top: 50px;
}
.fot_1{
color: rgb(11, 153, 235);
margin-top: -70px;
}
@media (max-width:2000px){
.uv ,.project-card {
  margin-left: 250px;
}

.content .uv{
  margin-left: 145px;
}
.icon-contact{
  margin-left: 60px;
}
.educotion .uv {margin-left: 300px;}
}
@media (max-width:1500px){

.uv ,.project-card {
  margin-left: 120px;
}

.content .uv{
  margin-left: 145px;
}
.icon-contact{
  margin-left: 1px;
}
.educotion .uv {
  margin-left: 150px;
}
@media (max-width:1200px){
  .main{
     background-size: cover; 
  }
} 
}
